:root {
  --font-light: #f7f7f7;
  --orange-main: #cd6326;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
}

body,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 120px;
  width: 1440px;
  height: 100%;
  overflow: hidden;
}

.header {
  height: 79px;
}

.header__row {
  position: relative;
  top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 50;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__link,
.logo__image {
  width: 70px;
  height: 60px;
}

.logo__title {
  padding-left: 15px;
  color: var(--font-light);
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

.menu {
  width: 480px;
}

.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  width: 100%;
  height: 100%;
  display: block;
  color: var(--font-light);
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.menu__item {
    opacity: .75;
}

.menu__item:hover {
    opacity: 1;
    transition: .2s;
}

.menu__item__search {
  width: 32px;
  height: 32px;
  background: url(./assets/images/search.svg) center no-repeat;
}

.menu__item__search:hover {
  cursor: pointer;
}

.menu__item__sign-in {
  text-align: center;
  border: 2px solid var(--orange-main);
  border-radius: 5px;
}

.menu__link__btn {
  padding: 6px 23px;
  background: none;
}

.menu__link__btn:hover {
  cursor: pointer;
  background: var(--orange-main);
}
